#id-botao-ver-dados-elemento {
   display: block;
   position: relative;
   left: 0px;
   top: 0px;
   width: 65px;
   height: 40px;
}

#dados_el_id_modal {
   display: block;
   font-family:  Arial, Verdana, Times New Roman;
   font-size:  24px;
   padding: 5px 5px 5px 5px;
   border: 1px solid black;
   position:  absolute;      
   top: 10px;
   right: 10px;      
   width: auto;      
   background: #88888850;
   z-index:  20;
}

#dados_el_id_todos {
   display: none;
 /*type: image;
   src: "olho.01.65x40.jpg"; */
   border: 1px solid black;
   position: relative;
   padding: 5px;
   width: 290px;
   height: 480px;
   background: #ffffff70;
}

.dado_el_class_nome_id {
   float: left;
}

.dado_el_class_nome {
   clear: both;      
   float: left;
}

.dados_el_class_nomes {
   clear: both;      
   background: transparent;
}

.dado_el_propatrib_class_01 {
   clear: both;      
   background: transparent;
}

.dado_el_class_desc {
   position: relative;      
   clear: both;      
   float: left;      
   background: transparent;      
   font-family: Verdana,Arial;      
   font-size: 0.47em;      
   width: 220px;
}

.dado_el_class_val {
   position: relative;      
   float: left;      
   background: transparent;     
   font-family: Verdana,Arial;      
   font-size: 0.47em;
}

.tp_periodos {
   position: absolute;      
   width: 69%;      
   background: transparent;
}
